// COLORS
:root {
	--light-bg-color: #f5f8ff;
	--dark-bg-color: #151515;

	--primary-color: #faebb2;
}

$breakpoints: (
	small: 50em,
	medium: 76.8em,
	large: 102.4em,
	larger: 128em,
	extra-large: 144em,
);
